.why-section {
  padding: 80px 20px;
  background: #ffffff;
}

.why-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.why-heading{
    font-size: 15px;
    color: #6b1f2b;
    padding: 20px;
}

.why-title {
  font-size: 42px;
  font-weight: 700;
  color: #6b1f2b;
  margin-bottom: 12px;
}

.why-subtitle {
  max-width: 600px;
  margin: 0 auto 60px;
  font-size: 16px;
  color: #555;
}

/* GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.why-card {
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
  border-radius: 24px;
  padding: 32px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

/* ICON */
.why-icon {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* TITLE */
.why-card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* TEXT */
.why-card-text {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}



/* RESPONSIVE */
@media (max-width: 1024px) {
  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-title {
    font-size: 32px;
  }
}
