.loan-form-page {
  min-height: 100vh;
  background: #f2fbfb;
  padding: 60px 80px;
  font-family: 'Poppins', sans-serif;
}

.form-title h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 28px;
  
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: relative;

}

/* underline accent */


.loan-form {
  max-width: 760px;          /* reduced width */
  margin: auto;
  background: #ffffff;
  padding: 50px 60px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(33, 31, 31, 0.08);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 22px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 13px 14px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 15px;
  border-radius: 6px;
  transition: all 0.3s ease;
  background: #fafafa;
}

input:focus {
  border-color: maroon;
  background: #fff;
  box-shadow: 0 0 0 3px rgba(128, 33, 31, 31.08);
}
.submit-btn {
  margin-top: 30px;
  padding: 14px 50px;
  background: #e03131;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .loan-form {
    max-width: 95%;
    padding: 30px 20px;
  }

  .row {
    grid-template-columns: 1fr;
  }
}
